@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: 0 0% 100%;
  --foreground: 225 36% 22%;
  --muted: 222 11% 95%;
  --muted-foreground: 225 15% 46%;
  --accent: 24 100% 95%;
  --accent-foreground: 24 100% 45%;
  --border: 222 11% 91%;
  --input: 222 11% 91%;
  --ring: 225 36% 22%;
  --radius: 0.75rem;
}

.dark {
  --background: 225 36% 8%;
  --foreground: 222 11% 95%;
  --muted: 225 30% 18%;
  --muted-foreground: 222 11% 70%;
  --accent: 24 100% 20%;
  --accent-foreground: 24 100% 95%;
  --border: 225 30% 18%;
  --input: 225 30% 18%;
  --ring: 222 11% 80%;
}

body {
  @apply bg-white text-slate-900 antialiased;
}
